$font-color-light: #fffbf5;
$font-color-dark: #462521;
$background-color-light: #fffbf5;
$background-color-dark: #282701;
$accent-color-light: #d5caba;
$accent-color-dark: #5b4134;
$green-accent-color-light: #bdb246;
$green-accent-color-dark: #826c34;
$pink-accent-color-light: #e58785;
$pink-accent-color-dark: #ca2e55;

$gradient: linear-gradient(90deg, #ca2e55, #e07387, #ffaeae, #ffd7bc, #ffebc3, #ffffc9, #d7d89a, #afb06b, #7a823f, #445412, #bdb246);
